:root{
    --dark-color:orange;
}
body{
    margin: 0px;
    padding: 0px;
    background: rgb(247, 247, 247);
}

.container{
    /* border: 1px solid; */
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
}